In [66]:
#import tools and generate datafram

import pandas as pd

from pathlib import Path

budget = Path("resources/budget_data.csv")

budget_df = pd.read_csv(budget)

#Test output of dataframe
budget_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [67]:
#Determine total number of months in dataframe

Date_count = len(budget_df["Date"].unique())
print("Total Months: " + str(Date_count))

Total Months: 86

In [68]:
#Net total profit/loss over time period
Total = budget_df["Profit/Losses"].sum()
print("Total: " + str(Total))

Total: 22564198

In [69]:
#Insert a column with difference
Differ = budget_df["Profit/Losses"].diff()
budget_df.insert(2,"Difference", Differ)

#visualize column with Differencejhg
print(budget_df)

      Date  Profit/Losses  Difference
0   Jan-10        1088983         NaN
1   Feb-10        -354534  -1443517.0
2   Mar-10         276622    631156.0
3   Apr-10        -728133  -1004755.0
4   May-10         852993   1581126.0
..     ...            ...         ...
81  Oct-16        -729004  -1627245.0
82  Nov-16        -112209    616795.0
83  Dec-16         516313    628522.0
84  Jan-17         607208     90895.0
85  Feb-17         382539   -224669.0

[86 rows x 3 columns]

In [74]:
#Average Change 
Aver = Differ.mean()

#Round to two digits
Averag = Aver.round(2)
print("Average Change: " + str(Averag))

Average Change: -8311.11

In [57]:
#Find min and max values of difference

Differ = budget_df["Profit/Losses"].diff()

Max_Differ = int(Differ.max())
Min_Differ = int(Differ.min())
print(Max_Differ)
print(Min_Differ)

1862002
-1825558

In [58]:
#Identify max Date and value
Max_result = budget_df.loc[budget_df["Difference"] == Max_Differ, "Date"]
print("Greatest Increase in Profits: " + str(Max_result) + " ($" + str(Max_Differ) + ")")

Greatest Increase in Profits: 79    Aug-16
Name: Date, dtype: object ($1862002)

In [59]:
#Identify Minimum date and value
Min_result = budget_df.loc[budget_df["Difference"] == Min_Differ, "Date"]
print("Greatest Decrease in Profits: " + str(Min_result) +  " ($" + str(Min_Differ) + ")")

Greatest Decrease in Profits: 49    Feb-14
Name: Date, dtype: object ($-1825558)

In [88]:
Output = open("output.txt", 'w')
Output.write(str)
print("Financial Analysis")
print("------------------------------")
print("Total Months: " + str(Date_count))
print("Total: " + str(Total))
print("Average Change: $" + str(Averag))
print("Greatest Increase in Profits: " + str(Max_result) + " ($" + str(Max_Differ) + ")")
print("Greatest Decrease in Profits: " + str(Min_result) +  " ($" + str(Min_Differ) + ")")
#Close file
Output.close()

TypeError: write() argument must be str, not type